<nav class="navbar navbar-expand-lg" style="background-color: rgba(0, 0, 0, 0.2);">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Z-LEARN</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="What do you want to learn?" aria-label="Search" >
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div><i class="material-icons">settings</i>       
        <%= link_to "Sign Up" , new_user_registration_path	%> 
        <%= link_to "Sign In" , new_user_session_path	%> 
        <%= button_to "Sign Out" , destroy_user_session_path, {method: :delete}	%>
    </div>
    <button><i class="material-icons">circle_notifications</i></button>
    <button><i class="material-icons">account_circles</i></button>
    <% if current_user.present? %> 
    <%= link_to "User" , current_user %>
    <% end %> 
    
    </div>
  </div>
</nav>